<div class="row">
    <div class="col-md-12 template-section-padding" data-bind="visible: showSection1">
        <div data-bind="compose: section1"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 template-section-padding" data-bind="visible: showSection2">
        <div data-bind="compose: section2"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 template-section-padding" data-bind="visible: showSection3">
        <div data-bind="compose: section3"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 template-section-padding" data-bind="visible: showSection4">
        <div data-bind="compose: section4"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 template-section-padding" data-bind="visible: showSection5">
        <div data-bind="compose: section5"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 template-section-padding" data-bind="visible: showSection6">
        <div data-bind="compose: section6"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 template-section-padding" data-bind="visible: showSection7">
        <div data-bind="compose: section7"></div>
    </div>
</div>