<section>
    <div class="row">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12">
                    <section class="section-margin">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <a class="btn btn-primary" href="#">
                                    <span class="fa fa-search"></span>
                                </a>
                            </span>
                        </div>
                    </section>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-folder-open" data-bind="click: onClick_OpenDetails"></i>
                        </div>

                        <div class="panel-body">

                            <div class="table-responsive">

                                <table class="table table-hover" data-bind="kendoGrid: ListOfDealsTable"></table>

                                <script id="ListOfDealsTable-row-template" type="text/html">
                                    <tr data-bind="event: { click: $parent.onClickRow }">
                                        <td><span data-bind="text: id" /></td>
                                        <td><span data-bind="text: BusinessType" /></td>
                                        <td><span data-bind="text: Project" /></td>
                                        <td><span data-bind="text: CorpSponsor" /></td>
                                        <td><span data-bind="text: Tranche" /></td>
                                        <td><span data-bind="text: Status" /></td>
                                        <td><span data-bind="text: CCY" /></td>
                                        <td><span data-bind="text: LocalCCYAmount" /></td>
                                    </tr>
                                </script>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-4">

            <div class="card">

                <div class="col-xs-12 well front face ">
                    <h4>Preview</h4>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">

                            <b>Facility</b> <span id="Facility" data-bind="text: selectedRow().Facility"></span>
                        </div>
                    </form>



                    <div data-bind="template: { name: templateNameFront }"></div>
                    <button type="button" class="btn btn-primary" data-bind="click: flip"><i class="fa fa-arrows-h"></i></button>
                    <button type="button" class="btn btn-success" data-bind="click: changeWidgetFront"><i class="fa fa-desktop"></i></button>
                </div>
                <div class="col-xs-12 well back face">
                    <h4>More Details</h4>
                    <div data-bind="template: { name: templateNameBack }"></div>
                    <button type="button" class="btn btn-primary" data-bind="click: flip"><i class="fa fa-arrows-h"></i></button>
                    <button type="button" class="btn btn-success" data-bind="click: changeWidgetBack"><i class="fa fa-desktop"></i></button>
                </div>

            </div>

        </div>
    </div>
</section>   



